# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Variables y secretos
.env

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Temporales
*.tmp
*.temp
